<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75354380150-ebqu0pcf063g7mvkahj1cn2b453g4lm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75354380150-ebqu0pcf063g7mvkahj1cn2b453g4lm7</string>
	<key>API_KEY</key>
	<string>AIzaSyBpXe5IJmr7EYs7RHiPdj_wAqG8gyUoThU</string>
	<key>GCM_SENDER_ID</key>
	<string>75354380150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.odds3</string>
	<key>PROJECT_ID</key>
	<string>odds3-af9af</string>
	<key>STORAGE_BUCKET</key>
	<string>odds3-af9af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75354380150:ios:a7dfd629e13a8aef914c57</string>
</dict>
</plist>